<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.speakright">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SpeakRight"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeakRight">

        <!-- ✅ Only one launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- ✅ ProfileActivity fixed -->
        <activity
            android:name="com.example.speakright.ui.theme.ProfileActivity"
            android:exported="true" />


        <activity
            android:name=".DashboardActivity"
            android:theme="@style/Theme.SpeakRight.Material" />

        <activity android:name=".ui.theme.HomeActivity" />
        <activity android:name=".ui.theme.TopicDetailActivity" />
        <activity android:name=".TestActivity"/>

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>
